@page
@model fixflow.Web.Pages.Account.LoginModel


<h2>Login</h2>

<form method="post">
    @Html.AntiForgeryToken()
    <div>
        <label>User Name</label>
        <input name="UserName" />
    </div>

    <div>
        <label>Password</label>
        <input name="Password" type="password" />
    </div>

    <button type="submit">Login</button>
</form>

@if (Model.LoginFailed)
{
<p style="color:red">Login failed</p>
}

<br />
<br />
<a asp-page="./NewUser">Create account</a>

