@page
@model fixflow.web.Pages.Admin.BuildingsModel
@{
    ViewData["Title"] = "Manage Buildings";
}

<h1>Manage Buildings</h1>

<p>
    <a asp-page="./BuildingCreate" class="btn btn-primary">Add New Building</a>
</p>

<div class="row">
    <div class="col-md-12">
        <!-- Buildings list will go here -->
        <p>Buildings management placeholder</p>
    </div>
</div>
