@page
@model fixflow.web.Pages.Admin.PriorityCodesModel
@{
    ViewData["Title"] = "Manage Priority Codes";
}

<h1>Manage Priority Codes</h1>

<p>
    <a asp-page="./PriorityCodeCreate" class="btn btn-primary">Add New Priority Code</a>
</p>

<div class="row">
    <div class="col-md-12">
        <!-- Priority codes list will go here -->
        <p>Priority codes management placeholder</p>
    </div>
</div>
