@page
@model fixflow.web.Pages.Admin.StatusCodesModel
@{
    ViewData["Title"] = "Manage Status Codes";
}

<h1>Manage Status Codes</h1>

<p>
    <a asp-page="./StatusCodeCreate" class="btn btn-primary">Add New Status Code</a>
</p>

<div class="row">
    <div class="col-md-12">
        <!-- Status codes list will go here -->
        <p>Status codes management placeholder</p>
    </div>
</div>
