@page
@model fixflow.web.Pages.Admin.TicketTypesModel
@{
    ViewData["Title"] = "Manage Ticket Types";
}

<h1>Manage Ticket Types</h1>

<p>
    <a asp-page="./TicketTypeCreate" class="btn btn-primary">Add New Ticket Type</a>
</p>

<div class="row">
    <div class="col-md-12">
        <!-- Ticket types list will go here -->
        <p>Ticket types management placeholder</p>
    </div>
</div>
