@page
@model fixflow.web.Pages.Profile.EditModel
@{
    ViewData["Title"] = "Edit Profile";
}

<h1>Edit Profile</h1>

<div class="row">
    <div class="col-md-8">
        <form method="post">
            <!-- Profile edit form will go here -->
            <p>Profile edit form placeholder</p>
        </form>
    </div>
</div>
