@page
@model fixflow.web.Pages.Profile.IndexModel
@{
    ViewData["Title"] = "My Profile";
}

<h1>My Profile</h1>

<div class="row">
    <div class="col-md-8">
        <!-- User profile information will go here -->
        <p>User profile placeholder</p>
        <p>
            <a asp-page="./Edit" class="btn btn-primary">Edit Profile</a>
        </p>
    </div>
</div>
