.typeahead-wrapper {
    position: relative;
}

.typeahead-results {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    right: 0;
    background: var(--surf);
    border: 1px solid var(--line);
    border-top: none;
    border-radius: 0 0 var(--r) var(--r);
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.typeahead-item {
    padding: 8px 11px;
    font-family: var(--fb);
    font-size: 13px;
    color: var(--tp);
    cursor: pointer;
}

    .typeahead-item:hover {
        background: var(--line);
    }
