@page
@model fixflow.web.Pages.Tickets.CreateModel
@{
    ViewData["Title"] = "Create Ticket";
}

<h1>Create New Ticket</h1>

<div class="row">
    <div class="col-md-8">
        <form method="post">
            <!-- Ticket creation form will go here -->
            <p>Ticket creation form placeholder</p>
        </form>
    </div>
</div>
