@page
@model fixflow.web.Pages.Tickets.ListModel
@{
    ViewData["Title"] = "Tickets List";
}

<h1>All Tickets</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New Ticket</a>
</p>

<div class="row">
    <div class="col-md-12">
        <!-- Tickets list/table will go here -->
        <p>Tickets list placeholder</p>
    </div>
</div>
